html{
  box-sizing:border-box;
  height: 100%;
  scroll-behavior: smooth;
}


*,
*::before,
*::after{
  box-sizing:inherit;
}


body{
display: flex;
flex-direction: column;
height: 100%;
padding: 0;
margin: 0;
font-family:"arial", serif;
font-size: 16px;
line-height: 1.5;
background-color: #fff;
color: #000;

}


img{
max-width: 100%;
height: auto;

}

.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */

.main-content{
  flex-grow: 1;
}



.section {
  display: flex;
  justify-content: center;
  align-items: center;
background-color: rgb(197, 55, 154);
  height: 100vh;
}

.menu-btn{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
top: 50%; margin-top: -1px;
left: 50%; margin-left: -10px;
width: 20px;
height: 2px;
background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after{
  content:'';
  display: block;
  transition: 0.5s;
}

.menu-btn span::before{
  transform: translateY(-5px);
}

.menu-btn span::after{
  transform: translateY(5px);
}
/* .menu-btn-active span{
  height: 0;
} */

.menu-btn-active span::before{
  transform: rotate(-35deg);
  transform-origin: left bottom ;
  width: 10px;
}
.menu-btn-active span::after{
  transform: rotate(35deg);
  transform-origin: left top ;
  width: 10px;
}










.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
}

.menunav-link{
display: inline-block;
text-decoration: none;
color: rgb(8, 12, 230);
margin-right: 20px;
}

.menu-nav {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 40px;
margin-right: -25px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;

  transition: 0.3s;
  transform-origin: right center;
  transform:scaleX(0) translateX(0%) ;
  opacity: 0;
}



.menu-nav-active{
transform: scale(1)translateX(0%);
  opacity: 1;
}

/* .menunav-link {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 40px;
margin-right: -25px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;

  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%) ;
  opacity: 0;
}

.menunav-link-active{
transform: translateX(0%);
  opacity: 1;
} */
